<!DOCTYPE html>
<html lang="en">
<head>
  
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/about.css">
        <link
        href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
        rel="stylesheet"
    />
    </head>
    
    <body>
        <div id="main">
            <nav>
                <h1>
                    CureIt
                </h1>
                <a href="https://www.linkedin.com/in/papu-badatya-759767254/">LinkIn</a>
            </nav>
            <div id="respons-hero-section">
    


                <div id="main-card">
                       <header>
                            <h1>
                               About us
                            </h1>
                        </header>
    
                        <main>

                <div class="information-div" >

                   <p>
                    Welcome to CureIt, an AI-powered platform designed to provide clear and reliable information about medicines. Built using Gemini AI, CureIt helps users—especially elderly individuals—understand their medications better, addressing common concerns such as why a medicine is prescribed, how to take it correctly, potential side effects, and its overall summary.
                   </p>
                      

                   <p><strong style="color: red;">⚠️ Important Disclaimer
                </strong>
                    CureIt is an AI-based project created for informational purposes only. It is not a substitute for professional medical advice. Always consult your doctor before taking any medication. Taking medicine without a proper prescription may be harmful to your health.   
                    </p>            
                   <strong>
                    Connect with me:
                   </strong>
                   <span >
                    <i class="ri-links-line"></i> <a href="https://www.linkedin.com/in/papu-badatya-759767254/">LnkdIn</a>

                   </span>
                </div>

                        </main>
                       
                </div>
            </div>
    
    </body>
    l
    </html>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>