<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div id="main">
    <div id="page1">
      <nav>
        <h1>CUREIT</h1>

        <a href="/about">AboutUs</a>

      </nav>
      
      <div id="page1-hero-section">
        <div id="pg1-hero-section-img-txt">
              <h1>Welcome to CureIt - Your AI-powered Medicine Guide</h1>
              <p>Explore the world of medicines, treatment options, and trusted health recommendations. Our advanced AI helps you make informed decisions.</p>
              <a href="/ai">Start</a>
        </div>
      </div>
    </div>
    <div id="page2">
     
        <div id="pg2-heading">
          <h1>Important Safety Notice</h1>
          <p>Please Consult a Doctor Before Taking Any Medicine.</p>
          <marquee behavior="side" direction="search">Do not take any medication without a prescription or professional guidance. Your health and safety are our top priority</marquee>
        </div>
        
      <div id="pg2-hero-sce">
        <div id="pg2-hero-sce-left">
          <img src="https://biomedicalodyssey.blogs.hopkinsmedicine.org/files/2017/12/robot-doctor-iStock-645749222-1-768x672.jpg" alt="">
        </div>
        <div id="pg2-hero-sce-right">
          <h1>How CureIT Works</h1>
          <p>CureIt is a powerful AI-driven platform that allows you to search for medicines, treatments, and health information with ease. By using advanced algorithms and a comprehensive database, we help you understand the benefits, uses, and potential side effects of various medicines.</p>
          <ol>
            <li>Search: Type the medicine name in the search bar.</li>
            <li>AI Analysis: Our Gemini-based AI analyzes the medicine data and provides detailed information.</li>
            <li>Results: Get easy-to-understand information, including uses, precautions, and dosage.            </li>
          </ol>
          <a href="/ai">Start</a>
        </div>

    </div>
    </div>
  </div>
</body>

</html>